:root {
  --verde: #008080;
  --bege: #f0f1eb;
  --preto: #111111;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Wix Madefor Display";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=SZcS3EX9IbbyeJ8aOluD52KXgUA_7Ed1I13G853Cp9duUYHhZVthp3nOYZEFhgL4FFFZYTHERc2AaPtBsPPNNs0mP5cLUX8IoB_jqKe3kPEnuP3CaEZkt-6yvmaA3E3RKrTM9qzKNHm4gXYLxwqd4N5lMwGwfifRWufNhh81SmjVk8A2XKPs8DNlj31_T-Psq370wwddjIDaAyMhgDmM101RL79z2IxWE8I&skey=4a4e989029e781df&v=v9)
    format("woff2");
}
@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=k3kPo8UDI-1M0wlSV9XAw6lQkqWY8Q82sIyfKf-Ena1BQN3_0V54wgRYGnzQFYYSZCpT_RV8miFdX_XaDc0WjBUz4XZ6vPpB3jawg0vpWV9wlIIK64HgpHaWnFCC5t9Gfw2Os8kNJlqYtpxAx4Q1XJqr22azsG8X9oRJeZRQPxKCbj-SowBdANORwgAgkGCWeTJYlFWaHVbsPI69qRmHP3bN_Md1z-FJ9pos8Drg7tnJjv1uTXe-fHoShZkOlpPzDaTKlCI_KYeXYIv-pwPU2BabzSSih96ps6UsOI7QqDt4g8XsV6z8vTpIVBTsRVEKGcprrPP1HxYii-Yxla4m-RCshn6ge-Y3gVY7igi1T8a_tRcOZYL5isd3Dej2tfOVK0Xd6g_vYDjqBx4UnX1AdI4jkenRIAXSxgONO2IGmSr2TtQ_rmXmTMzLIeOh_QkbUwnGlcxHKh9mHlOvoLRuaq3-8MT0XZey1aGi-9R_gvKhFPBJCiaQL2MgX3B8zu1TBUJj2bZu&skey=8131191f4580dfcb&v=v18)
    format("woff2");
}
@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=k3kPo8UDI-1M0wlSV9XAw6lQkqWY8Q82sIyfKf-Ena1BQN3_0V54wgRYGnzQFYYSZCpT_RV8miFdX_XaDc0WjBUz4XZ6vPpB3jawg0vpWV9wlIIK64HgpHaWnFCC5t9Gfw2Os8kNJlqYtpxAx4Q1XJqr22azsG8X9oRJeZRQPxKCbj-SowBdANORwgAgkGCWeTJYlFWaHVbsPI69qRmHP3bN_Md1z-FJ9pos8Drg7tnJjv1uTXe-fHoShZkOlpPzDaTKlCI_KYeXYIv-pwPU2BabzSSih96ps6UsOI7QqDt4g8XsV6z8vTpIVBTsRVEKGcprrPP1HxYii-Yxla4m-RCshn6ge-Y3gVY7igi1T8a_tRcOZYL5isd3Dej2tfOVK0Xd6g_vYDjqBx4UnX1AdI4jkenRIAXSxgONO2IGmSr2TtQ_rmXmTMzLIeOh_QkbUwnGlcxHKh9mHlOvoLRuaq3-8MT0XZey1aGi-9R_gvKhFPBJCiaQL2MgX3B8zu1TBUJj2bZu&skey=8131191f4580dfcb&v=v18)
    format("woff2");
}
body {
  background-color: var(--bege);
  color: var(--preto);
  font-family: "Wix Madefor Display";
  font-weight: 800;
  font-size: 16px;
}
main > * {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.fs60 {
  font-size: 60px;
}
.fs48 {
  font-size: 48px;
}
.fs34 {
  font-size: 34px;
}
.fs20 {
  font-size: 20px;
}
.lh1 {
  line-height: 1;
}
.lh1875 {
  line-height: 1.875rem;
}
.marginb1 {
  margin-bottom: 1rem;
}
.max-width {
  max-width: 75rem;
}
.bg-verde {
  background-color: var(--verde);
}
.verde {
  color: var(--verde);
}
.bege {
  color: var(--bege);
}
p {
  font-family: "Archivo";
  font-weight: 400;
}
a {
  color: firebrick;
}
a:visited {
  color: #6b1616;
}
li {
  color: var(--verde);
  font-family: "Archivo";
  font-weight: 400;
  max-width: 20.625rem;
  line-height: 1.5rem;
}
hr {
  border: 0;
  border-top: solid #f0f1eb41;
}
em {
  color: var(--verde);
  font-style: normal;
}
.hero_bg {
  background-color: var(--verde);
  background-image: url("./imgs/BG_Hero.avif");
  background-position: center;
  background-size: cover;
  height: max(90dvh, 570px);
}
.hero {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(17.5rem, 62.5rem) 1fr;
  grid-template-areas:
    "....  logo   ...."
    "....  title  ...."
    "....  button ....";
}
.logo_nlport {
  width: 14.375rem;
  height: auto;
  grid-area: logo;
  align-self: end;
}
.hero_title {
  color: var(--bege);
  line-height: 1.1em;
  max-width: 48.125rem;
  grid-area: title;
  align-self: center;
  font-size: 60px;
}
.pln::before {
  content: "Processamento de Linguagem Natural";
}
.botao {
  background-color: var(--preto);
  color: var(--bege);
  border-radius: 1.875rem;
  width: 11.6875rem;
  height: 3.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  font-family: "Archivo";
  font-weight: 700;
  grid-area: button;
  z-index: 1;
  position: relative;
  transition: all 250ms;
  overflow: hidden;
}
.botao:visited {
  color: var(--bege);
}
.botao::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 1.875rem;
  background-color: var(--verde);
  z-index: -1;
  transition: all 250ms;
}
.botao:hover::before,
.botao:focus::before {
  width: 100%;
}
.pitches {
  margin-top: 6.25rem;
  display: grid;
  justify-items: center;
  gap: 3rem;
}
.pitch {
  display: flex;
  flex-wrap: wrap;
  gap: 3.75rem;
  justify-content: center;
  align-items: center;
}
.pitch-text {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
}
.reverse-row {
  flex-direction: row-reverse;
}
.foto {
  aspect-ratio: 1/1;
  width: clamp(17.5rem, 35vw + 1rem, 27.25rem);
  height: auto;
  border-radius: 40px;
  mix-blend-mode: luminosity;
}
.curso1 {
  margin-top: 6.25rem;

  display: grid;
  justify-content: center;
}
.curso1 > h2 {
  margin-bottom: 5rem;
}
.semanas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 29.375rem));
  gap: 3.75rem;
  justify-content: space-around;
  max-width: 62.5rem;
}
.semana {
  max-width: 29.375rem;
}
.titulo-semana {
  font-family: "Archivo";
  font-weight: 700;
  margin-bottom: 2.09rem;
}
.curso2 {
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
  display: grid;
  justify-content: center;
  row-gap: 2rem;
  grid-template-columns: 1fr minmax(20rem, 62.5rem) 1fr;
  grid-template-areas:
    " . curso2  ."
    " . embreve .";
}
.curso2 > h2 {
  grid-area: curso2;
}
.curso2 > h3 {
  grid-area: embreve;
  justify-self: center;
}
.cta {
  padding-top: 3rem;
  background-color: var(--verde);
  display: grid;
  justify-items: center;
  text-align: center;
}
.git {
  margin-top: 2.875rem;
  margin-bottom: 2.875rem;
  aspect-ratio: 1/1;
  width: 6.5rem;
  height: auto;
  transition: all 0.3s ease;
}
.git:hover,
.git:focus {
  transform: translateY(-10px);
}
footer {
  background-color: var(--verde);
}
.logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.usp_logo_texto {
  width: 31.1875rem;
  height: auto;
}
.usp_logo {
  width: clamp(11rem, 35vw + 1rem, 18rem);
  height: auto;
  display: none;
}
.c4ia_logo {
  width: clamp(13.563rem, 40vw + 1rem, 23rem);
  height: auto;
}
@media (max-width: 576px) {
  h1, .curso2>h2{
    text-align: center;
  }
  .hero {
    justify-items: center;
  }
  .pln::before {
    content: "PLN";
  }
}
@media (max-width: 992px) {
  .usp_logo_texto {
    display: none;
  }
  .usp_logo {
    display: block;
  }
  .hero_bg {
    background-image: url("./imgs/BG_Hero-992.avif");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 430px) {
  .hero_bg {
    background-image: url("./imgs/BG_Hero-430.avif");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero_title {
  font-size: 48px;
  }
}
